.picture {
  display: none;

  @include breakpoint("small-desktop") {
    display: initial;
    overflow: hidden;
    position: relative;

    &::before {
      background: url("../img/plus-left.png");
      content: "";
      height: 49px;
      left: 5%;
      position: absolute;
      top: 70%;
      width: 50px;
    }

    &::after {
      background: url("../img/plus-right.png");
      bottom: 86%;
      content: "";
      height: 50px;
      position: absolute;
      right: 18%;
      width: 51px;
    }

    &::before,
    &::after {
      animation: plusShaking 2s ease-in-out infinite;
    }
  }

  @include breakpoint("desktop") {
    &::before {
      left: 18px;
    }
    &::after {
      bottom: 85%;
      right: 12%;
    }
  }

  @include breakpoint("large-desktop") {
    &::before {
      left: 0;
    }
    &::after {
      right: 10%;
    }
  }
}

.picture__wrapper {
  max-width: 688px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.picture__border {
  animation: rotate-center 1.5s ease-in-out both;
  background-image: url("../img/bgWhiteCircle.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 82%;
  position: absolute;
  right: 45px;
  top: 33px;
  width: 74%;
  z-index: 3;

  @include breakpoint("desktop") {
    height: 81%;
    width: 76%;
  }

  @include breakpoint("large-desktop") {
    height: 85%;
    width: 85%;
  }
}

.picture__figure {
  position: relative;
  z-index: 2;

  @include breakpoint("small-desktop") {
    &::before,
    &::after {
      animation: pulsate-bck 4s ease-in-out infinite both;
      content: "";
      position: absolute;
      z-index: 1;
    }

    &::before {
      background: url("../img/dots-left.png");
      height: 73px;
      top: 5%;
      width: 78px;
    }

    &::after {
      background: url("../img/dots-right.png");
      bottom: 15%;
      height: 74px;
      right: -13%;
      width: 79px;
    }
  }

  @include breakpoint("desktop") {
    &::before {
      top: 10%;
    }

    &::after {
      right: -6%;
    }
  }
}

// KEYFRAMES
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes plusShaking {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}
