.picture {
  display: none;

  @include breakpoint("small-desktop") {
    display: initial;
    position: relative;
    overflow: hidden;

    &::before {
      background: url("../img/plus-left.png");
      content: "";
      width: 50px;
      height: 49px;
      position: absolute;
      top: 70%;
      left: 5%;
    }

    &::after {
      background: url("../img/plus-right.png");
      content: "";
      width: 51px;
      height: 50px;
      position: absolute;
      bottom: 86%;
      right: 18%;
    }

    &::before,
    &::after {
      animation: plusShaking 2s ease-in-out infinite;
    }
  }

  @include breakpoint("desktop") {
    &::before {
      left: 18px;
    }
    &::after {
      right: 12%;
      bottom: 85%;
    }
  }

  @include breakpoint("large-desktop") {
    &::before {
      left: 0;
    }
    &::after {
      right: 10%;
    }
  }


}



.picture__wrapper {
  position: relative;
  max-width: 688px;
  width: 100%;
  padding: 20px;
}

.picture__border {
  background-image: url("../img/bgWhiteCircle.png");
  position: absolute;
  width: 74%;
  background-repeat: no-repeat;
  height: 82%;
  background-position: 100%;
  background-size: contain;
  animation: rotate-center 1.5s ease-in-out both;
  right: 45px;
  z-index: 3;
  top: 33px;

  @include breakpoint("desktop") {
    width: 76%;
    height: 81%;
  }

  @include breakpoint("large-desktop") {
    width: 85%;
    height: 85%;
  }
}

.picture__figure {
  position: relative;
  z-index: 2;

  @include breakpoint("small-desktop") {
    &::before,
    &::after {
      animation: pulsate-bck 4s ease-in-out infinite both;
      content: "";
      position: absolute;
      z-index: 1;
    }

    &::before {
      background: url("../img/dots-left.png");
      width: 78px;
      height: 73px;
      top: 5%;
    }

    &::after {
      background: url("../img/dots-right.png");
      width: 79px;
      height: 74px;
      bottom: 15%;
      right: -13%;
    }
  }

  @include breakpoint("desktop") {
    &::before {
      top: 10%;
    }

    &::after {
      right: -6%;
    }
  }
}

// KEYFRAMES
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes plusShaking {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}
