.info {
  color: var(--color-dpw-secondary);

  @include breakpoint("small-desktop") {
    padding-left: 8%;
  }

  @include breakpoint("large-desktop") {
    margin-top: -105px;
    padding-left: 22%;
  }
}

.info__title {
  margin-bottom: -40px;
  padding: 50px 0;

  & p {
    font-size: 20px;
    margin-bottom: -40px;
    margin-left: 24px;
  }
  & b {
    font-family: "FormulaBold";
    font-size: 38px;
  }

  & .largeText {
    font-size: 120px;
    margin: 0;
    padding-top: 22px;
  }

  & span.light {
    font-size: 35px;
    margin-bottom: -15px;
  }

  .font__agency {
    font-size: 90px;
  }

  @include breakpoint("tablet") {
    margin-bottom: 80px;
    padding: 0 0 0 35px;
    transform: rotate(-8deg);

    .font__agency {
      font-size: 115px;
    }

    & p {
      font-size: 40px;
      margin-bottom: -72px;
      margin-left: 52px;
    }

    & b {
      font-size: 88px;
      padding-left: 10px;
    }

    & .largeText {
      font-size: 164px;
    }

    & span.light {
      font-size: 82px;
      margin-bottom: -25px;
    }
  }

  @include breakpoint("small-desktop") {
    padding: 0;
    & .largeText {
      font-size: 130px;
    }

    & b {
      font-size: 75px;
    }

    & span.light {
      font-size: 70px;
    }

    .font__agency {
      font-size: 95px;
    }
  }

  @include breakpoint("desktop") {
    max-width: 655px;
  }

  @include breakpoint("xlarge-desktop") {
    padding-left: 20px;

    & .largeText {
      font-size: 136px;
      padding-top: 30px;
    }
  }
}

.white {
  color: var(--color-webfatorial-white);
}

.info__grid {
  align-items: center;
  display: flex;
  flex-direction: column;

  & div {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  @include breakpoint("tablet") {
    display: grid;
    grid-template-columns: 48% auto;

    & div {
      align-items: flex-start;
      padding-left: 15px;
      padding-top: 55px;
    }
  }

  @include breakpoint("small-desktop") {
    grid-template-columns: 55% auto;

    & div {
      padding-left: 0;
    }
  }

  @include breakpoint("desktop") {
    grid-template-columns: 47% auto;
  }

  @include breakpoint("large-desktop") {
    grid-template-columns: 45% auto;
  }
  @include breakpoint("xlarge-desktop") {
    grid-template-columns: 48% auto;
  }
}

.info__button {
  align-items: center;
  background-color: var(--color-dpw-secondary);
  border-radius: 25px;
  border: 2px solid var(--color-dpw-secondary);
  box-sizing: border-box;
  color: var(--color-dpw-primary);
  cursor: pointer;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-evenly;
  padding: 5px 0;
  text-transform: uppercase;
  transition: all 0.5s;
  width: 245px;

  &::before {
    background: url("../img/iconArrow.png");
    content: "";
    height: 34px;
    transition: all 0.5s;
    width: 34px;
  }

  &:hover {
    background: var(--color-webfatorial-white);
    border-color: var(--color-webfatorial-white);

    &::before {
      transform: translateX(4px);
    }
  }

  @include breakpoint("small-desktop") {
    font-size: 17px;
    width: 210px;
  }

  @include breakpoint("desktop") {
    font-size: 20px;
    width: 245px;
  }
}

.info__localisation {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 60px;
  position: relative;
  width: 100%;

  &::before {
    background: linear-gradient(
      90deg,
      rgba(67, 1, 90, 1) 0%,
      rgba(255, 169, 1, 1) 50%,
      rgba(67, 1, 90, 1) 100%
    );
    bottom: 223px;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  @include breakpoint("tablet") {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(3, auto);
    margin: 0 auto;
    padding-top: 0;
    width: 90%;

    &::before {
      bottom: 0;
    }
  }

  @include breakpoint("small-desktop") {
    grid-gap: 12px;
    margin: initial;
    width: 100%;
  }

  @include breakpoint("desktop") {
    grid-gap: 35px;
  }

  @include breakpoint("xlarge-desktop") {
    grid-gap: 60px;
  }
}

.info__join {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;

  & h3 {
    font-size: 40px;
    text-transform: uppercase;
  }

  & span {
    font-size: 20px;
  }

  @include breakpoint("small-desktop") {
    align-items: flex-end;
    padding-bottom: 0;
  }

  @include breakpoint("xlarge-desktop") {
    & h3 {
      font-size: 50px;
    }

    & span {
      font-size: 26px;
    }
  }
}

.light {
  font-family: "FormulaLight";
  font-weight: 100;
}

.info__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;

  @include breakpoint("tablet") {
    display: grid;
    grid-template-columns: 275px auto;
    justify-content: center;

    & h3 {
      font-size: 65px;
    }

    & span {
      font-size: 30px;
      margin-bottom: -10;
    }
  }

  @include breakpoint("small-desktop") {
    grid-template-columns: 230px auto;
  }

  @include breakpoint("desktop") {
    grid-template-columns: 275px auto;

    padding-top: 35px;
  }

  @include breakpoint("large-desktop") {
    padding-top: 30px;
  }

  // @include outro
  // margin-left: -50px;
  //   padding-top: 0;
}

.info__contact {
  padding-top: 15px;
  & a {
    color: var(--color-dpw-secondary);
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 23px;
  }

  @include breakpoint("tablet") {
    // letter-spacing: 4px;
    padding-top: 0;
  }

  @include breakpoint("small-desktop") {
    font-size: 20px;
  }

  @include breakpoint("desktop") {
    font-size: 23px;
  }
}

.info__tel h4 {
  color: var(--color-webfatorial-white);
  text-transform: uppercase;
  font-size: 25px;

  @include breakpoint("small-desktop") {
    font-size: 20px;
  }

  @include breakpoint("desktop") {
    font-size: 25px;
  }
}

.info__dateTime {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -5px;
    height: 2px;
    width: 80%;
    background: linear-gradient(
      90deg,
      rgba(67, 1, 90, 1) 0%,
      rgba(255, 169, 1, 1) 50%,
      rgba(67, 1, 90, 1) 100%
    );
  }

  & small {
    font-size: 20px;
  }

  & h4 {
    font-size: 30px;
  }

  & span {
    font-size: 28px;
  }

  @include breakpoint("tablet") {
    padding-left: 22px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: -15px;
      height: 80%;
      width: 2px;
      background: linear-gradient(
        180deg,
        rgba(67, 1, 90, 1) 0%,
        rgba(255, 169, 1, 1) 50%,
        rgba(67, 1, 90, 1) 100%
      );
    }

    &::after {
      left: 200px;
    }
  }

  @include breakpoint("small-desktop") {
    align-items: flex-start;
    &::before {
      left: 8px;
    }

    &::after {
      left: 92%;
    }

    & h4 {
      font-size: 22px;
    }
    & span {
      font-size: 20px;
    }
  }

  @include breakpoint("desktop") {
    &::before {
      left: -8;
    }

    &::after {
      left: 100%;
    }

    & h4 {
      font-size: 30px;
    }
  }

  @include breakpoint("large-desktop") {
    &::before {
      left: -10px;
    }
  }
}

.info__speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  & small {
    font-size: 20px;
  }

  & h4 {
    font-size: 30px;
  }

  & span {
    font-size: 28px;
  }

  @include breakpoint("tablet") {
    align-items: flex-start;
    padding-top: 0;
  }

  @include breakpoint("small-desktop") {
    & h4 {
      font-size: 22px;
    }

    & span {
      font-size: 20px;
    }
  }

  @include breakpoint("desktop") {
    & h4 {
      font-size: 30px;
    }

    & span {
      font-size: 28px;
    }
  }
}
